<!DOCTYPE html>
<html>
<head>
	<title>Email</title>
	<script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../css/resets.css">
  <link rel="stylesheet" href="../css/utilities.css">
</head>
<x-main>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="em_full_wrap" bgcolor="#ffffff">
		<tr>
			<td align="center" valign="top">
				<table align="center" width="600" border="0" cellspacing="0" cellpadding="0" class="em_main_table"
					style="width:600px; table-layout:fixed;">
					<!-- == Header Section == -->
					<tr>
						<td class="text-left align-middle p-2">
							<table role="presentation" class="align-middle w-full">
								<tr>
									<!-- Left Section -->
									<td class="w-1/5 align-middle p-0">
										<div class="inline-block">
											<a href="#" target="_blank"
												class="inline-block pointer-events-none cursor-default">
												<img src="../images/Header Logo.png" alt="" width="111"
													class="block max-w-[110px]" />
											</a>
										</div>
									</td>

									<!-- Right Section -->
									<td class="w-4/5 align-middle p-0 text-left">
										<div class="inline-block">
											<table role="presentation" class="align-middle w-full">
												<tr>
													<!-- Contact Info -->
													<td class="align-middle p-0">
														<div class="text-[12px] leading-[16px] text-black-600">
															<a href="#" target="_blank"
																class="text-black-600 text-[12px] leading-[14px] pl-2  no-underline pointer-events-none cursor-default block">
																Ut enim ad minim veniam, quis nostrud exercitation
																ullamco<br class="brnone"> laboris nisi ut aliquip ex ea commodo
																consequat.
															</a>
														</div>
													</td>
												</tr>
											</table>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="text-center align-middle p-2">
							<a href="#" target="_blank"
								class="block border-none text-decoration-none outline-none pointer-events-none cursor-default">
								<img src="../images/Hero Image.png" alt="" width="580"
									class="block max-w-[580px] max-w-full" />
							</a>
						</td>
					</tr>
					<!-- == Header Section == -->
					<!-- == Body Section == -->
					<tr>
						<td
							class="text-center align-top pt-6 text-[24px] leading-[26px] text-[#005555] break-words font-bold">
							Excepteur sint occaecat cupidatat
						</td>
					</tr>
					<tr>
						<td
							class="text-center align-top pt-5 pb-2 text-[16px] leading-[18px] text-[#292929] break-words">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br class="brnone"> eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim<br class="brnone"> ad minim
							veniam, quis nostrud exercitation ullamco laboris nisi ut<br class="brnone"> aliquip ex ea
							commodo consequat.
						</td>
					</tr>
					<tr>
						<td class="text-center align-top pt-5 pb-12 break-words">
							<button
								class="px-5 sm:px-14 py-3 bg-[#008080] text-[20px] leading-[24px] text-white font-semibold rounded focus:outline-none">
								Ut enim ad minim veniam
							</button>
						</td>
					</tr>
					<tr>
						<td
							class="bg-[#F0F5F5] text-center align-top pt-6 text-[24px] leading-[26px] text-[#005555] break-words font-bold">
							Sint cupidatat occaecat ut
						</td>
					</tr>
					<tr>
						<td
							class="bg-[#F0F5F5] text-left align-top break-words font-sans p-[35px_15px_47px] sm:p-[35px_15px_47px]">
							<div class="flex flex-col sm:flex-row sm:space-x-4 space-y-4 sm:space-y-0">
								<!-- Service 1 -->
								<div class="w-full xs:w-[200px] md:w-[276px] align-top bg-white">
									<div class="text-center p-5">
										<a href="#" class="inline-block pointer-events-none cursor-default">
											<img src="../images/Icon.png" alt=""
												class="block max-w-full sm:max-w-[166px] mx-auto" />
										</a>
									</div>
									<div class="bg-white text-left align-top p-[1px_30px_27px]">
										<div class="text-center text-[20px] leading-5 font-bold text-[#005555]">
											Nisi ut ade
										</div>
										<div class="text-center text-[16px] leading-[18px] text-gray-700 pt-4">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
											veniam.<sup>1</sup>
										</div>
									</div>
								</div>

								<!-- Service 2 -->
								<div class="w-full xs:w-[200px] md:w-[276px] align-top bg-white">
									<div class="text-center p-5">
										<a href="#" class="inline-block pointer-events-none cursor-default">
											<img src="../images/Icon.png" alt=""
												class="block max-w-full sm:max-w-[166px] mx-auto" />
										</a>
									</div>
									<div class="bg-white text-left align-top p-[1px_30px_27px]">
										<div class="text-center text-[20px] leading-5 font-bold text-[#005555]">
											Duis aute irure
										</div>
										<div class="text-center text-[16px] leading-[18px] text-gray-700 pt-4">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
											veniam.<sup>2</sup>
										</div>
									</div>
								</div>
							</div>
						</td>

					</tr>
					<!-- == Body Section == -->
					<!-- == Footer Section == -->
					<tr>
						<td class="text-left align-top break-words font-sans p-[20px_15px]">
							<table class="w-full align-top">
								<tr>
									<td
										class="text-left align-top text-[12px] leading-[18px] text-black font-bold break-words">
										Ut enim ad minim:
									</td>
								</tr>
								<tr>
									<td
										class="text-left align-top text-[12px] leading-[14px] text-black pt-4 break-words">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua.
									</td>
								</tr>
								<tr>
									<td
										class="text-left align-top text-[12px] leading-[14px] text-black pt-4 break-words">
										Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
										aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur.
									</td>
								</tr>
								<tr>
									<td
										class="text-left align-top text-[12px] pt-8 leading-[18px] text-black font-bold break-words">
										Sint occaecat cupidaat:
									</td>
								</tr>
								<tr>
									<td
										class="text-left align-top text-[12px] leading-[14px] text-black pt-4 pb-5 break-words">
										<ol class="list-decimal list-inside">
											<li>Excepteur sint occaecat cupidaat non proident, sunt in culpa qui officia
												deserunt mollit anim id est laborum</li>
											<li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
												dolore eu fugiat</li>
										</ol>
									</td>
								</tr>
								<tr>
									<td class="text-center align-top height-[1px] bg-black break-words">

									</td>
								</tr>
								<tr>
									<td
										class="text-center align-top text-[12px] leading-[14px] text-black pt-5 break-words">
										Sed do euismod tempor incididunt ut labore
									</td>
								</tr>
								<tr>
									<td class="text-center align-middle pt-6">
										<div class="inline-block">
											<a href="#" target="_blank"
												class="inline-block pointer-events-none cursor-default">
												<img src="../images/Footer Logo.png" alt="" width="111"
													class="block max-w-[110px]" />
											</a>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- == Footer Section == -->
				</table>
			</td>
		</tr>
	</table>
</x-main>
